* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  background-color: #ddd;
  position: relative;
}
.chessboard {
  border: 2px solid #c05b02;
  width: calc(60px * 8);
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%),
    linear-gradient(-45deg, #808080 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #808080 75%),
    linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 120px 120px;
  background-position: 0 0, 0 60px, 60px -60px, -60px 0px;
}

.chessboard .element {
  height: 60px;
  width: 60px;
  /* border: 1px solid sal; */
}

.chess {
  background-size: 100%;
  height: 60px;
  width: 60px;
}

.hightlight {
  width: 60px;
  height: 60px;
  background-color: lightgreen;
}

.select {
   width: 60px;
  height: 60px;
  background-color: pink;
}

.unselect {
  background-image: none !important;
  width: 60px;
  height: 60px;
}



